#not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 16px;
}

#not-found-page h1, #not-found-page h2 {
  font-weight: bolder;
  font-size: 3em;

  text-align: left;

  width: 100%;
}

#not-found-page h1 {
  font-size: 4em;

  color: var(--color-primary);
}

#not-found-page p {
  font-size: 1.25rem !important;

  margin-top: 16px;
}

#not-found-page button {
  margin-top: 16px;

  padding: 8px 12px;
}
